*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.form-container {
    padding: 50px;
}

.login-title {
    margin-top: 15px ;
    margin-bottom: 25px;
}

.login-textfield {
    max-width: 50%;
}